/****** General ***********/

@font-face {
	font-family: 'Roboto';
	src: url(/Projet4/Style/Font/Roboto/Roboto-Regular.ttf) format(‘truetype’),
}

@font-face {
	font-family: "Shrikhand";
	src: url(/Projet4/Style/Font/Shrikhand/Shrikhand-Regular.ttf) format(‘truetype’),
}

	:root {
		--main-color: #9356DC;
		--second-color: #FF79DA;
		--third-color: #99E2D0;
		--main-grey:#EAEAEA;
		--second-grey: #F6F6F6;

	}

	body{
		margin: 0px;
	}
	
	h1{
		margin: 0px;
	}

	p{
		font-size: 18px;
	}

	/****** Nav ***********/

	nav{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 63px;
	}




	nav img{
		height: 36px;
	}


	/****** Ville ***********/

	fieldset{
		border:none;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px;
		background-color: var(--main-grey);
		height: 50px;
		padding: 0px;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	}

	fieldset input{
		border: none;
		background-color: var(--main-grey);
	}

	/****** Header ***********/

	header{
		background-color: var(--second-grey);
		display: flex;
		flex-direction: column;
		width: auto;
	}

	header h1{
		padding-top: 30px;
		display: flex;
		justify-content: center;
	}

	header p{
		display: flex;
		justify-content: center;
	}

	header div{
		display: flex;
		justify-content: center;
		padding-bottom: 30px;
	}

	
	.btn-explorer {
		background: linear-gradient( #FF79DA, #9356DC);
		border-radius: 20px;
		color: white;
		font-size: 16px;
		padding: 10px 20px;
		text-align: center;
		text-decoration: none;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
		width: 30%;
	}


	/****** Section Fonctionnement ***********/

	/****** Section Restaurant  ***********/

	/****** Footer ***********/




	/* Media queries */

