/****** General ***********/

@font-face {
	font-family: 'Roboto';
	src: url(/Projet4/Style/Font/Roboto/Roboto-Regular.ttf) format(‘truetype’),
}

@font-face {
	font-family: "Shrikhand";
	src: url(/Projet4/Style/Font/Shrikhand/Shrikhand-Regular.ttf) format(‘truetype’),
}

	:root {
		--main-color: #9356DC;
		--second-color: #FF79DA;
		--third-color: #99E2D0;
		--main-grey:#EAEAEA;
		--second-grey: #F6F6F6;

	}

	body{
		margin: 0px;
	}

	/****** Nav ***********/

	nav{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 63px;
	}


	nav img{
		height: 36px;
	}


	/****** Ville ***********/

	fieldset{
		border-left: none;
		border-right: none;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px;
		background-color: var(--main-grey);
		height: 50px;
	}

	fieldset input{
		border: none;
		background-color: var(--main-grey);
	}

	/****** Header ***********/

	header{
		height: 179px;
	}

	/****** Section Fonctionnement ***********/

	/****** Section Restaurant  ***********/

	/****** Footer ***********/




	/* Media queries */

