/****** General ***********/

@font-face {
	font-family: 'Roboto';
	src: url(/Projet4/Style/Font/Roboto/Roboto-Regular.ttf) format(‘truetype’),
}

@font-face {
	font-family: "Shrikhand";
	src: url(/Projet4/Style/Font/Shrikhand/Shrikhand-Regular.ttf) format(‘truetype’),
}


:root {
	--main-color: #9356DC;
	--second-color: #FF79DA;
	--third-color: #99E2D0;
}

body {
	font-family: 'Roboto', sans-serif;
}

	/****** Nav ***********/


	.navbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: white;
		padding: 10px 20px;
	}
	
	
	.navbar__center {
		flex: 1;
		display: flex;
		justify-content: center;
	}
	
	.navbar__center img{
		height:36px;
	}
	/****** Header ***********/

	/****** Section Fonctionnement ***********/

	/****** Section Restaurant  ***********/

	/****** Footer ***********/

